*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* Шаг 1: Лейаут */
.content {
  display: grid;
  grid-template-columns: 711px 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  align-items: end;
  padding: 133px 30px;
}

.result {
  grid-area: 1 / 1 / 2 / 2;
}

.content__details {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-self: stretch;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 14px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  flex-grow: 1;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.content__list-container {
  block-size: 298px;
  overflow-y: auto;
}

/* Шаг 2: Уточнение размеров */
.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

/* Шаг 3: Стили текстов */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-block-end: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  line-height: 94%;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.content__video-card-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-block-end: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* Шаг 4: Стилизация форм */
.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  inline-size: 225px;
  block-size: 27px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  appearance: none;
  padding: 0;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 5px;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: '';
  inline-size: 17px;
  block-size: 17px;
  background-color: #fff;
  display: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

/* Шаг 5: Стилизация кнопок */
.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  padding: 0;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  flex-shrink: 0;
}

.more-button {
  inline-size: 100%;
  block-size: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

/* Шаг 6: Состояния карточек */
.content__list-item {
  padding-inline: 3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover .content__video-card-title {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

/* Шаг 7: Кликабельность */
.button,
.content__card-link,
.search-form__label {
  cursor: pointer;
}

/* Шаг 8: Позиционирование прелоадеров */
.result__video-container,
.content__list-container {
  position: relative;
}
